<div class="container">
    <div class="title">
        <h1>НОВИНИ</h1>
    </div>
    <div class="news">

        <app-news-card class="news-card"></app-news-card>
        <app-news-card class="news-card"></app-news-card>
        <app-news-card class="news-card"></app-news-card>
        <app-news-card class="news-card"></app-news-card>
        <app-news-card class="news-card"></app-news-card>
        <app-news-card class="news-card"></app-news-card>

    </div>

    <div class="pagination">

    </div>
</div>