<div class="field">
    <div class="field-img">
        <img src="../../../assets/no-image.png" alt="">
    </div>
    <div class="field-text">
        <h4>This is title</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum commodi natus et. Eveniet fugit aut
            accusantium. Aut modi, necessitatibus neque doloremque quod dolores itaque temporibus blanditiis eos facere
            eligendi labore.
            Aspernatur voluptate voluptatibus dignissimos quas dolor officia dolorum nostrum ut obcaecati
            exercitationem, error, iste perferendis delectus culpa ea quidem omnis? Sint tempore, rem iusto obcaecati ab
            officia consectetur tempora repellat.</p>
    </div>

</div>