<div class="container">
    <header>
        <input id="burger" type="checkbox" [checked]="isDesktop" />
        <label for="burger" [@changeButtonSize]="buttonSizeState">
          <span></span>
          <span></span>
          <span></span>
        </label>
        <nav  [ngClass]="{'scrolled': isScrolled, }" [@changeHeaderSize]="headerSizeState"  >
          <ul>
            <li><a href="#">Link #1</a></li>
            <li><a href="#">Link #2</a></li>
            <li><a href="#">Link #3</a></li>
          </ul>
        </nav>
      </header>
</div>